#faq {
  padding: 5vh 4vw 0 4vw;

  color: var(--corPrimaria);

  & img {
    width: 30%;

    object-fit: contain;
  }

  & summary {
    cursor: pointer;
  }
}

#perguntasLista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
}

@media screen and (max-width: 768px) {
  #faq {
    padding: 5vh;
    padding-bottom: 0;

    & > div {
      flex-direction: column-reverse;
    }

    & img {
      width: 80%;
    margin: auto;}
  }
}
