@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* RESET CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* GLOBAL VARIABLES */
:root {
  --corTexto: #0c387c;
  --corPrimaria: #33406b;
  --corSecundaria: #656f9f;
  --corBotaoPrimaria: #846835;
  --corBotaoSecundaria: #ddc385;
  --corFundoPrimaria: #e9efff;
  --corFundoSecundaria: #ffffff;
}

/* CUSTOM CSS */
body {
  font-size: 1.4rem;
  font-family: "Blinker", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}
